<h1>Say#Hello</h1>
<p>Find me in app/views/say/Hello.html.erb</p>

Hello John!!
<%= 2+2 %>

<!-- instance variable -->
<h2><%= @yo %></h2>

<!--On 3 seperate lines-->
<% 3.times do %>
  <p>Ho!</p>
<% end %>
<br/>

<!--on the same line-->
<% 3.times do %>
    Ho!
<% end %>

<br/>